@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    string heroUrl = "https://balmaqueencom.files.wordpress.com/2017/06/cropped-och-cover-photo-2.jpg";
    IPublishedContent heroImage = Model.Content.GetPropertyValue<IPublishedContent>(Core.Constants.DocumentTypes.Hero.HeroImage);
    if (heroImage != null)
    {
        heroUrl = heroImage.Url;
    }
}
<div class="hero-bgimage">
    <h1 class="hero-title">
        <a href="/" rel="home" alt="@Model.Content.GetPropertyValue(Core.Constants.DocumentTypes.Hero.Title)">
            @Model.Content.GetPropertyValue(Core.Constants.DocumentTypes.Hero.Title)
        </a>
    </h1>
    <h2 class="hero-description">
        @Model.Content.GetPropertyValue(Core.Constants.DocumentTypes.Hero.Subtitle)
    </h2>
</div>
<style>
    .hero-bgimage {
        background-image: url(@heroUrl);
    }
    @if (!Model.Content.GetPropertyValue<bool>(Core.Constants.DocumentTypes.Hero.ShowTitle))
    {
        <text>
        .hero-title {
            display: none;
        }
        </text>
    }
    @if (!Model.Content.GetPropertyValue<bool>(Core.Constants.DocumentTypes.Hero.ShowDescription))
    {
        <text>
        .hero-description {
            display: none;
        }
        </text>
    }
</style>