@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    IPublishedContent root = Model.Content.AncestorOrSelf(1);
    string title = Model.Content.GetPropertyValue<string>(Core.Constants.DocumentTypes.Hero.Title);
    string subtitle = Model.Content.GetPropertyValue<string>(Core.Constants.DocumentTypes.Hero.Subtitle);
    bool showTitle = Model.Content.GetPropertyValue<bool>(Core.Constants.DocumentTypes.Hero.ShowTitle);
    bool showSubtitle = Model.Content.GetPropertyValue<bool>(Core.Constants.DocumentTypes.Hero.ShowDescription);
    string heroUrl = string.Empty;
    IPublishedContent heroImage = Model.Content.GetPropertyValue<IPublishedContent>(Core.Constants.DocumentTypes.Hero.HeroImage);
    if (heroImage != null && !string.IsNullOrEmpty(heroImage.Url))
    {
        heroUrl = heroImage.Url;
    }
    else
    {
        heroImage = root.GetPropertyValue<IPublishedContent>(Core.Constants.DocumentTypes.Hero.HeroImage);
        if (heroImage != null)
        {
            heroUrl = heroImage.Url;
        }
    }
    if (string.IsNullOrEmpty(title))
    {
        title = root.GetPropertyValue<string>(Core.Constants.DocumentTypes.Hero.Title);
    }
    if (string.IsNullOrEmpty(subtitle))
    {
        subtitle = root.GetPropertyValue<string>(Core.Constants.DocumentTypes.Hero.Subtitle);
    }
}
<div class="hero-bgimage">
    <h1 class="hero-title">
        <a href="/" rel="home" alt="@title">
            @title
        </a>
    </h1>
    <h2 class="hero-description">
        @subtitle
    </h2>
</div>
<style>
    .hero-bgimage {
        background-image: url(@heroUrl);
    }
    @if (!showTitle)
    {
        <text>
        .hero-title {
            display: none;
        }
        </text>
    }
    @if (!showSubtitle)
    {
        <text>
        .hero-description {
            display: none;
        }
        </text>
    }
</style>