@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<article>
    <header class="content-header">
        <h2 class="content-title">@Model.Content.GetPropertyValue(Core.Constants.DocumentTypes.Content.Title)</h2>
    </header>

    <div class="content-body">
        @Model.Content.GetPropertyValue(Core.Constants.DocumentTypes.Content.BodyContent)
    </div>
</article>