body {
    font: 100% $font-stack;
    color: $primary-color;
    margin: 0px;
    background-color: $background-color;
}
h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-gap: 20px;
}

.nav {
    grid-column: col-start 2 / span 10;
    grid-row: 2;
}

.content {
    grid-column: col-start 2 / span 7;
    grid-row: 3;
}

.sidebar {
    grid-column: col-start 9 / span 3;
    grid-row: 3;
}

.footer {
    grid-column: col-start / span 12;
    grid-row: 4;
}
