
.hero {
    grid-column: col-start / span 12;
    grid-row: 1;
}
.hero-bgimage {
    background-size: cover;
    height: 100%;
    position: relative;
    background-color: $secondary-color;
    min-height: 238px;
    height: 100%;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-title {
}
.hero-description {
 }
