@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
    @using ContentModels = Umbraco.Web.PublishedContentModels;
    @{
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
        <div class="content">Content.</div>
        <div class="sidebar">Sidebar - replace with partial</div>